.board {
    margin: 50px 0 0 calc(50% - 50vmin);
}

    .buttons {
        display: flex;
    }

        .button {
            color: white;
            border-radius: 15px;
            border: 2px solid black;
            cursor: pointer;
            padding: 5px 10px;
            margin-right: 25px;
            margin-bottom: 15px;
            height: 35px;
            line-height: 20px;
            font-weight: bold;
            font-size: 14px;
        }
        .button:hover {
            background-color: burlywood;
        }

        .speed {
            background-color: cornflowerblue;
        }
        .control {
            background-color: darkcyan;
        }
        .default {
            background-color: coral;
        }

    .border {
        width: 606px;
        height: 606px;
        position: relative;
        border: 3px solid black;
    }

        .column {
            display: flex;
        }

            .cell {
                /* width: 100%; */
            }

            .white {
                background-color: white;
            }
            
            .black {
                background-color: black;
            }

.piece {
    width: 75px;
    height: 75px;
    border-radius: 25px;
    position: absolute;
    padding: 3px;
    font-weight: bold;
    line-height: 30px;
    font-size: 14px;
    text-align: center;
}

.piece-Black {
    background-color: purple;
    border: 5px solid blue;
    color: white;
    text-shadow: 2px 2px 6px red;
}

.piece-White {
    background-color: yellow;
    border: 5px solid purple;
    color: black;
    text-shadow: 2px 2px 6px blue;
}

